:root{
  --primary-color :rgb(192, 211, 235); 
  --google-color0 : #fff;
  --google-color1 : #4286f449;
  --google-color2 : #ea43255b;
  --google-color3 : #FBBC05;


}
body {
    margin: 0;
    padding: 0;
  }
  
  nav {
    width: 100%;
    padding: 10px 2vw ;
    background-color: var(--google-color4) ;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px -10px; */
    display: flex;
    justify-content: space-between; /* Add this to separate the logo and social icons */
    z-index: 10;
    position: fixed;
    top: 0;
  }
  
  .logo1 {
    height: 35px;
    width: 200px;
    padding: 8px 0 10 0px;
  }
  
  .social-icon  {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: black;
  }

  .linkedin:hover{
    font-size: 23px;
  }

  
  .linkedin {
    margin-right: -5px;
    font-size: 1.5rem;
    padding: 0 1.5vw;
    color: black;
  }
 
 
  
  @media screen and (max-width:480px) { 
    .logo {
      height: 20px;
    }
    .linkedin {
      font-size: 1.1rem;
    }
    nav{
      padding: 20px 2vw ;
    }
  }
  
  @media screen and (min-width:480px) and (max-width:640px) { 
    .logo {
      height: 28px;
    }
    .linkedin {
      font-size: 1.25rem;
    }
    nav{
      padding: 15px 2vw ;
    }
  }